{
  "root": true,
  
  "extends": [
    "standard",
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],

  "env": {
    "jest": true
  },

  "rules": {
    "comma-dangle": ["error", "only-multiline"]
  }
}
